            <aside class="left-sidebar">
                <!-- Sidebar scroll-->
                <div class="scroll-sidebar">
                    <!-- Sidebar navigation-->
                    <nav class="sidebar-nav">
                       
                        <ul id="sidebarnav">

                            <li class="sidebar-item">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/category" aria-expanded="false">

                                    <span class="hide-menu">Categories</span>
                                </a>
                            </li>
                        </ul>

                        <ul id="sidebarnav">

                            <li class="sidebar-item">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/post" aria-expanded="false">

                                    <span class="hide-menu">Posts</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <!-- End Sidebar navigation -->
                </div>
                <!-- End Sidebar scroll-->
            </aside>